@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.cont {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column; }

.dark {
  opacity: 1; }

.modal {
  display: none;
  align-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 610px;
  height: 400px;
  background-color: white; }

h1 {
  color: #dc6d02;
  font-family: Permanent Marker;
  font-size: 50px; }

.bigImg {
  width: 100vw;
  object-fit: cover;
  object-position: center;
  max-width: 6000px; }

header, footer, container {
  border-radius: 25px; }

header {
  height: 100px;
  background-color: #fcb500;
  padding: 15px;
  padding-left: 40px;
  min-height: 100px; }

.container {
  display: flex;
  justify-content: space-between; }
  .container .content {
    border-radius: 25px;
    background-color: rgba(237, 197, 150, 0.7);
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .container .content a {
      padding: 20px; }
  .container .left_block, .container .right_block {
    border-radius: 25px; }
  .container .left_block {
    width: 15%;
    background-color: #fd9a7e; }
  .container .right_block {
    width: 25%;
    background-color: #edc596;
    padding: 20px; }

footer {
  padding: 15px;
  display: flex;
  justify-content: safe center;
  align-items: center;
  min-height: 100px;
  background-color: #c43d16; }
  footer p {
    color: aliceblue;
    font-family: Permanent Marker;
    font-size: 20px; }
